# Dependencias
node_modules/

# Variables de entorno
.env

# Archivos temporales de descarga
temp/

# Logs de PM2
logs/
*.log

# Sistemas operativos
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo
